body {
    font-family: Arial, sans-serif;
    background-image: url("https://cdn-aekfi.nitrocdn.com/BhHUnZmQXkWPzBaLMaTftVhEvszyNTtP/assets/images/source/rev-b9d4954/blog/images/2018/07/best-time-tracking-apps.jpg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}

form {
    margin: 0 auto;
    width: 50%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #4CAF50;
}
