<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFC0CB;" th:fragment="navbar">
    <a class="navbar-brand" href="../index.html">MY TODO LIST APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/todoPage}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>

        </ul>
        <form th:action="@{/searched}" method="get" class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:if="${session.user_name}">
                    <a class="nav-link text-primary" th:text="${session.user_name.toString()}"></a>
                </li>
            </ul>
            <input class="form-control mr-sm-2" type="search" name = "search" th:value="Search" aria-label="Search">
            <button class="btn bg-dark text-white my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>